

<head>
    <link rel="stylesheet" th:href="@{/editor.md/css/editormd.css}" />
</head>
<div id="layout">
    <div id="test-editormd">
        <textarea style="display:none;">


        </textarea>
    </div>
</div>
<script th:src="@{/editor.md/editormd.min.js}"></script>
<script type="text/javascript">
    var testEditor;

    $(function() {
        testEditor = editormd("test-editormd", {
            width   : "70%",
            height  : 500,
            syncScrolling : "single",
            path    : "../editor.md/lib/"
        });
        $(".mdui-collapse-item-open").removeClass("mdui-collapse-item-open");
        $(".mdui-list-item-active").removeClass("mdui-list-item-active");
        $("#article").addClass("mdui-collapse-item-open");
        $("#edit").addClass("mdui-list-item-active");
    });
</script>

