

<head>
    <link rel="stylesheet" th:href="@{/editor.md/css/editormd.css}" />
</head>
<div id="layout">

    <div id="art" style="float: left;padding-right: 3px;width: 70%">
        <h1>撰写新文章</h1>
    <div class="mdui-textfield">
        <input class="mdui-textfield-input" type="text" placeholder="在此处输入标题"/>
    </div>
    <div id="test-editormd" style="float: left">
        <textarea style="display:none;">


        </textarea>
    </div>
    </div>
</div>
<div style="float:right;margin-top: 100px">
    <div class="mdui-card">
        <div class="mdui-card-media">
            <div class="mdui-card-primary">
                <div class="mdui-card-primary-title">发布</div>
                <div class="mdui-float-right"><i class="mdui-icon material-icons">&#xe5c7;</i></div>
            </div>
        </div>
        <div class="mdui-divider"></div>
        <div class="mdui-card-actions mdui-card-actions-stacked">
            <button id="savedraft" class="mdui-btn mdui-btn-raised mdui-float-left">保存草稿</button>
            <button id="look" class="mdui-btn mdui-btn-raised mdui-float-left">预览</button>
            <button id="save" class="mdui-btn mdui-btn-raised mdui-float-left">发布</button>
        </div>
    </div>
</div>
<script th:src="@{/editor.md/editormd.min.js}"></script>
<script type="text/javascript">
    var testEditor;

    $(function() {
        testEditor = editormd("test-editormd", {
            width   : "100%",
            height  : 400,
            syncScrolling : "single",
            path    : "../editor.md/lib/"
        });
        $(".mdui-collapse-item-open").removeClass("mdui-collapse-item-open");
        $(".mdui-list-item-active").removeClass("mdui-list-item-active");
        $("#article").addClass("mdui-collapse-item-open");
        $("#edit").addClass("mdui-list-item-active");
    });
</script>

