	<div th:replace="common::html"></div>

	<div id="bookmarks_list"></div>
	<div id="main_list" style="margin-top: 10px">
		<div class="mdui-col-sm-4 mdui-col-md-2">
			<div class="mdui-card">
				<div class="mdui-card-media">
					<img src="img/card.jpg">
					<a href="http://www.taobao.com">
						<div class="mdui-card-media-covered mdui-card-media-covered-transparent">
							<div class="mdui-card-primary">
								<div class="mdui-card-primary-title">淘宝</div>
								<div class="mdui-card-primary-subtitle">欢庆双十一</div>
							</div>
						</div>
					</a>
				</div>
				<!-- <div class="mdui-card-actions">
                  <button class="mdui-btn mdui-ripple">action 1</button>
                  <button class="mdui-btn mdui-ripple">action 2</button>
                </div> -->
			</div>
		</div>
		<div class="mdui-col-sm-4 mdui-col-md-2">
			<div class="mdui-card">
				<div class="mdui-card-media">
					<img src="img/card.jpg">
					<a href="http://www.google.com">
						<div class="mdui-card-media-covered mdui-card-media-covered-transparent">
							<div class="mdui-card-primary">
								<div class="mdui-card-primary-title">GreatFireWall</div>
								<div class="mdui-card-primary-subtitle">防火长城</div>
							</div>
						</div>
					</a>
				</div>
				<!-- <div class="mdui-card-actions">
                  <button class="mdui-btn mdui-ripple">action 1</button>
                  <button class="mdui-btn mdui-ripple">action 2</button>
                </div> -->
			</div>
		</div>
	</div>

</body>
</html>