<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.magicdu.blog.dao.ArticleMapper">
	<resultMap id="BaseResultMap" type="cn.magicdu.blog.pojo.Article">
		<id column="article_id" property="articleid" jdbcType="VARCHAR" />
		<result column="article_title" property="articletitle" jdbcType="VARCHAR" />
		<result column="article_content" property="articlecontent" jdbcType="VARCHAR" />
		<result column="post_status" property="poststatus" jdbcType="INTEGER"/>
		<result column="post_password" property="postpassword" jdbcType="VARCHAR"/>
		<result column="comment_staus" property="commentstaus" jdbcType="INTEGER"/>
		<result column="user_id" property="userid" jdbcType="VARCHAR"></result>
		<result column="category_id" property="categoryid" jdbcType="VARCHAR"></result>
	</resultMap>


	<sql id="Base_Column_List">
		article_id, article_title, article_content, create_date, post_date, post_status,
		post_password, comment_status, user_id, category_id
	</sql>


	<insert id="addArticle" parameterType="cn.magicdu.blog.pojo.Article">
		INSERT INTO magic_articles(<include refid="Base_Column_List" />) VALUES
		(
		  #{articleid,jdbcType=VARCHAR}, #{articletitle,jdbcType=VARCHAR},
		  #{articlecontent,jdbcType=VARCHAR}, #{createdate,jdbcType=DATE},
		  #{postdate,jdbcType=DATE},#{poststatus,jdbcType=INTEGER},
		  #{postpassword,jdbcType=VARCHAR}, #{commentstatus,jdbcType=INTEGER},
		  #{userid,jdbcType=VARCHAR}, #{categoryid,jdbcType=VARCHAR}
		)
	</insert>
</mapper>